[submodule "limine"]
	path = boot/limine
	url = https://github.com/limine-bootloader/limine.git
[submodule "Sabaton"]
	path = boot/Sabaton
	url = https://github.com/N00byEdge/Sabaton.git
[submodule "echfs"]
	path = boot/echfs
	url = https://github.com/echfs/echfs
[submodule "src/extern/lai"]
	path = src/extern/lai
	url = https://github.com/managarm/lai.git
[submodule "src/copernicus/Copernicus"]
	path = src/copernicus/Copernicus
	url = https://github.com/FlorenceOS/Copernicus
