[submodule "qloader2"]
	path = qloader2
	url = https://github.com/qloader2/qloader2.git
[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
[submodule "Sabaton"]
	path = Sabaton
	url = git@github.com:N00byEdge/Sabaton.git
[submodule "src/extern/std-lib-orphanage"]
	path = src/extern/std-lib-orphanage
	url = https://github.com/ziglang/std-lib-orphanage.git
